body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul, a {
    text-decoration: none;
    color: white;
    list-style: none;
    display: flex;
    gap: 15px;
}

.header, .content-one, .footer {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-one {
    display: flex;
    flex: 1;
    align-items: center;
}

.content-one img {
    background-color: grey;
    width: 600px;
    height: 200px;
}

.content-two {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-title {
    font-size: 36px;
}

.cards {
    display: flex;
    max-width: 70%;
}

.content-two img {
    border: 2px solid #3882f6;
    border-radius: 25px;
    min-width: 120px;
    min-height: 120px;
}

.content-three {
    background-color: #e5e7eb;
    font-size: 36px;
}

.content-four {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.action-card, button {
    background-color: #3882F6;
    color: white;
}

.action-card {
    padding: 15px;
}

.footer {
   display: flex;
   justify-content: center; 
}